<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
</head>
<body>
    <form method="POST" action="/users">   
    <label for="name">INUPT NAME</label>
    <input name="name" type="text">
    <button type="submit">SUBMIT</button>
    </form>
    <button> <a href="/users">lets see users</a></button>
</body>
</html>