<form action="/cart" method="post">
    <button type="submit" class="btn">Add to Cart</button>
    <input type="hidden" name="productid" value="<%= product.id%>"> 
    <!-- // to inser Post req body -->
    </form>
    